.futures {
  margin-bottom : 200px;
  @media(max-width : 1200px) {
    margin-bottom : 160px;
  }
  @media(max-width: 640px) {
    margin-bottom : 60px;
  }

  &__items {
    display         : flex;
    justify-content : space-between;
    gap             : 20px;
    max-width       : 1575px;
    margin          : 0 auto;

    @media(max-width : 1440px) {
      flex-wrap : wrap;
    }
  }

  .item {
    display        : flex;
    flex-direction : column;

    .number {
      font-family    : var(--second-family);
      font-weight    : 400;
      font-size      : 200px;
      line-height    : 117%;
      letter-spacing : -0.11em;
      color          : var(--white);
      @media(max-width : 992px) {
        font-size : 128px;
      }
    }

    .text {
      background-color : var(--grey);
      padding          : 32px 9px 9px 9px;
      transform        : translateY(-80px);
      @media(max-width : 992px) {
        transform : translateY(-40px);
      }
    }

  }

  &__content {
    position   : relative;
    overflow-x : hidden;
    margin-top : 200px;
    @media(max-width : 1200px) {
      margin-top : 110px;
    }
    @media(max-width : 640px) {
      margin-top : 54px;
    }

    &:before {
      content    : '';
      position   : absolute;
      top        : 40%;
      right      : 0;
      width      : 3000px;
      height     : 145px;
      background : url("../../img/icon/pulse.svg") center / cover no-repeat;
      animation  : moving-right 30s infinite linear;
    }

    .container {
      max-width       : 910px;
      margin          : 0 auto;
      display         : flex;
      flex-direction  : column;
      align-items     : center;
      justify-content : center;
      text-align      : center;
      gap             : clamp(30px, 3vw, 56px);
      @media(max-width : 640px) {
        align-items     : flex-start;
        justify-content : start;
      }
    }
  }

  &__title {
    font-family : var(--font-family);
    font-weight : 400;
    font-size   : clamp(16px, 1.5vw, 24px);
    line-height : 108%;
    color       : var(--white);
    margin      : 0;
  }

  &__desc {
    font-family    : var(--font-family);
    font-weight    : 500;
    font-size      : clamp(22px, 3vw, 48px);
    line-height    : 125%;
    letter-spacing : -0.03em;
    color          : var(--white);
    margin         : 0;
    @media(max-width : 640px) {
      text-align : left;
    }
  }

  &__link {
    font-family    : var(--font-family);
    font-weight    : 500;
    font-size      : clamp(16px, 1.5vw, 24px);
    line-height    : 167%;
    letter-spacing : -0.03em;
    text-transform : uppercase;
    color          : var(--white);
    display        : flex;
    align-items    : center;
    gap            : 10px;
    transition     : .2s ease;
    @include hover {
      &:hover {
        transform : translateX(10px);
      }
    }
  }
}

@keyframes moving-right {
  0% {
    right   : 0;
    opacity : 1;
  }
  50% {
    right   : -30%;
    opacity : 0.5;
  }
  100% {
    right   : -70%;
    opacity : 1;
  }
}
