.zone {
  margin-bottom: 200px;
  position: relative;
  @media (max-width: 1200px) {
    margin-bottom: 160px;
  }
  @media (max-width: 640px) {
    margin-bottom: 60px;
  }

  &__title {
    max-width: 945px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 120px;
    @media (max-width: 1200px) {
      margin-bottom: 60px;
    }
    @media (max-width: 768px) {
      margin-bottom: 32px;
    }
  }

  &__more {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(16px, 1.5vw, 24px);
    line-height: 167%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.2s ease;
    @include hover {
      &:hover {
        transform: translateX(10px);
      }
    }
    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  .swiper-zone {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 38vw;
    max-width: 730px;
    z-index: 3;
    @media (max-width: 768px) {
      max-width: 100%;
      width: 100%;
      position: static;
      transform: translate(0);
      left: 0;
    }
  }

  &__message {
    position: absolute;
    left: 63%;
    top: 45%;
    background: #465058;
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: var(--white);
    width: 30vw;
    max-width: 450px;

    @media (max-width: 1140px) {
      position: static;
      margin-inline: 10px;
      margin: 0 auto;
      margin-top: 20px;
      max-width: 100%;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .swiper-zone-2 {
  }

  &__slide {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: auto;
    border: 1px solid var(--white);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 70px;
    aspect-ratio: 1 / 1;
    background-color: var(--grey);
    .number {
      font-family: var(--second-family);
      font-weight: 300;
      font-size: clamp(250px, 20vw, 400px);
      line-height: 117%;
      letter-spacing: -0.12em;
      background: linear-gradient(
        180deg,
        #313d45 0%,
        #5b3c43 25%,
        #d7373d 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 100%;
      text-align: center;
      @media (max-width: 1440px) {
        font-size: clamp(160px, 10vw, 400px);
      }
    }

    .image {
      position: absolute;
      inset: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .title {
      position: relative;
      z-index: 1;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: clamp(20px, 2vw, 52px);
      line-height: 94%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      text-align: center;
      color: var(--white);
    }
  }

  &__slider {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    @media (max-width: 768px) {
      margin-bottom: 20px;
      &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("../../img/lines-mobile.svg") center / cover no-repeat;
      }
    }
    .slider-nav {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 40vw;
      max-width: 750px;
      z-index: 4;
      @media (max-width: 768px) {
        max-width: 100%;
        width: 100%;
      }
      @media (max-width: 1680px) {
      }
      .slider-navigation {
        width: 100%;
        justify-content: space-between;
      }
    }
  }

  @media (max-width: 640px) {
    .swiper-zone-2 {
      display: none;
    }
  }
}
