<section class="callback">
  <div class="container callback__container">
    <div class="left">
      <h2 class="title__section callback__title">
        станьте частью <br />
        сильной команды
      </h2>
      <p class="default--text callback__text">
        Получите доступ ко всем возможностям и привилегиям Crocus Fitness
        и наслаждайтесь насыщенной спортивной и светской жизнью!
      </p>
    </div>
    <div class="right">
      <form class="form" action="">
        <div class="form__row">
          <input type="text" placeholder="Ваше имя" />
        </div>
        <div class="form__row">
          <input type="text" placeholder="E-mail" />
        </div>
        <div class="form__row">
          <input type="text" placeholder="+7 (___) ___ __ __" class="phone" />
        </div>
        <div class="form__row">
          <select name="field-abon" class="field-abon">
            <option value="" selected>Вид абонемента</option>
            <option value="Абонимент 2">Абонимент 1</option>
            <option value="Абонимент 2">Абонимент 2</option>
          </select>
        </div>

        <div class="form__bottom">
          <div class="form__policy">
            <input type="checkbox" class="input-checkbox" />
            <span
              >Я согласен(а)
              <a href="">на обработку моих персональных данных <br /> </a> и
              ознакомлен(а) с <a href="">Политикой конфиденциальности</a></span
            >
          </div>
          <button class="btn-reset btn--white form__btn">
            Оставить заявку
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
