<section class="carts">
  <div class="container">
    <h2 class="title__section carts__title">Клубные карты</h2>

    <div class="carts__items">
      <div class="item">
        <div class="item-head">
          <div class="number">01</div>
          <div class="title">ИНДИВИДУАЛЬНАЯ</div>
        </div>
        <div class="bottom">
          <div class="content">
            <div class="in-cart">Включено</div>
            <div class="content-row">
              <div class="left">
                <div class="lists">
                  <ul class="list-reset list">
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                  </ul>
                  <ul class="list-reset list">
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                  </ul>
                </div>
                <button type="button" class="btn-reset btn--white carts__btn">Оставить заявку</button>
              </div>
              <div class="right">
                <img src="../img/club-cart.webp" alt="Клубная карта Crocus Fitness">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-head">
          <div class="number">02</div>
          <div class="title">VIP-КАРТА</div>
        </div>
        <div class="bottom">
          <div class="content">
            <div class="in-cart">Включено</div>
            <div class="content-row">
              <div class="left">
                <div class="lists">
                  <ul class="list-reset list">
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                  </ul>
                  <ul class="list-reset list">
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                  </ul>
                </div>
                <button type="button" class="btn-reset btn--white carts__btn">Оставить заявку</button>
              </div>
              <div class="right">
                <img src="../img/club-cart.webp" alt="Клубная карта Crocus Fitness">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-head">
          <div class="number">03</div>
          <div class="title">КОРПОРАТИВНАЯ</div>
        </div>
        <div class="bottom">
          <div class="content">
            <div class="in-cart">Включено</div>
            <div class="content-row">
              <div class="left">
                <div class="lists">
                  <ul class="list-reset list">
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                  </ul>
                  <ul class="list-reset list">
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                  </ul>
                </div>
                <button type="button" class="btn-reset btn--white carts__btn">Оставить заявку</button>
              </div>
              <div class="right">
                <img src="../img/club-cart.webp" alt="Клубная карта Crocus Fitness">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-head">
          <div class="number">04</div>
          <div class="title">ДНЕВНАЯ</div>
        </div>
        <div class="bottom">
          <div class="content">
            <div class="in-cart">Включено</div>
            <div class="content-row">
              <div class="left">
                <div class="lists">
                  <ul class="list-reset list">
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                  </ul>
                  <ul class="list-reset list">
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                    <li>Неограниченное посещение всех зон клуба</li>
                  </ul>
                </div>
                <button type="button" class="btn-reset btn--white carts__btn">Оставить заявку</button>
              </div>
              <div class="right">
                <img src="../img/club-cart.webp" alt="Клубная карта Crocus Fitness">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
