<section class="futures">
  <div class="container">
    <div class="futures__items">
      <div class="item">
        <div class="number">60+</div>
        <div class="text default--text">Видов тренировок</div>
      </div>
      <div class="item">
        <div class="number">400+</div>
        <div class="text default--text">Довольных посетителей</div>
      </div>
      <div class="item">
        <div class="number">25+</div>
        <div class="text default--text">Городов</div>
      </div>
      <div class="item">
        <div class="number">8+</div>
        <div class="text default--text">Новых профессионалов</div>
      </div>
    </div>
  </div>

  <div class="futures__content">
    <div class="container">
    <h2 class="futures__title">CROCUS FITNESS</h2>
    <p class="futures__desc">
      В клубе новые тренажёры Hammer Strength и Cybex, а также специализированный зал 
      для функциональных тренировок с петлями и тренажёрами TRX
    </p>
    <a class="futures__link" href="">
      о клубе
      <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="19" cy="19" r="19" fill="white"/>
        <path d="M28 19L28.3485 19.3585L28.7173 19L28.3485 18.6415L28 19ZM10 18.5C9.72386 18.5 9.5 18.7239 9.5 19C9.5 19.2761 9.72386 19.5 10 19.5L10 18.5ZM21.1485 26.3585L28.3485 19.3585L27.6515 18.6415L20.4515 25.6415L21.1485 26.3585ZM28.3485 18.6415L21.1485 11.6415L20.4515 12.3585L27.6515 19.3585L28.3485 18.6415ZM28 18.5L10 18.5L10 19.5L28 19.5L28 18.5Z" fill="#010101"/>
      </svg>
    </a>
    </div>
  </div>
</section>
