<section class="hero-page hero-page--about">
  <div class="hero-page__img">
    <img src="../img/hero-about-img.webp" alt="Crocus Fitness" />
  </div>
  <div class="container">
    <div class="hero-page__bottom">
      <h1>crocus fitness</h1>
      <div class="hero-page__items">
        <span
          >о нас <br />
          цифры</span
        >
        <span
          >интерьер<br />
          инфраструктура</span
        >
        <span
          >оборудование<br />
          вакансии</span
        >
      </div>
    </div>
  </div>
</section>
